<h2>Articles de SIXVOIX</h2>
{{> listeVips}}

{{#if articles}}
    {{#each articles}}
        <fieldset>
            <legend>Article</legend>
            <p>{{this.vip_prenom}} {{this.vip_nom}}</p>
            <div>
                {{this.article_resume}}
            </div>
            <p>[Ajouté le {{formatDate this.article_date_insert 'DD MMMM YYYY'}}] <a href="/repertoire/detailsVip/{{this.vip_numero}}">Voir sa fiche</a></p>
        </fieldset>
    {{/each}}
{{/if}}
